<h2>API</h2>

<div>
  <h3 style="text-align: left;">Pizza Calculator</h3>
  <p>
    Pizza Calc takes the number of people and returns the amount of pizzas to order.
    <code>http://pizzacalc.us/api/pizza_calc/:people</code>
  </p>
  <div class="well">
    <p>
      <strong>Request</strong> curl -X POST http://pizzacalc.us/api/pizza_calc/3
    </p>
    <p>
      <strong>Response</strong> {"amount_to_order":2}
    </p>
  </div>
</div>
