<h2>Find How Many Pizzas To Order</h2>

<div class="well">
  <form action="/pizza_calc" method="post" class="form-inline">
    <div class="form-group">
      <label for="people">Number of People</label>
      <input id="people" class="form-control" type="text" name="people" placeholder="0" style="width: 20%"></input>
    </div>
    <button type="submit" class="btn btn-success" id="pizza-calc-button">Calculate</button>
    <div style="font-style: italic;font-size:5;">
      <br/>
      * Based on 3 slices per person from a pizza with 8 slices.
    </div>
  </form>
</div>

<% if @pizza_count %>
<div class="alert alert-info" role="alert">
  <h3>Order <%= @pizza_count %> <%= pluralize(@pizza_count).capitalize %></h3>
</div>
<% end%>
